<div class="register-container">
  <div class="register-card">
    <h2>Regístrate</h2>
    <form [formGroup]="registerForm" (ngSubmit)="registrar()">
      <input formControlName="nombre" type="text" placeholder="Nombre completo" />
      <input formControlName="email" type="email" placeholder="Correo electrónico" />
      <input formControlName="password" type="password" placeholder="Contraseña" />
      <select formControlName="rol">
        <option value="user">Usuario</option>
        <option value="admin">Admin</option>
      </select>
      <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
  </div>
</div>
